header {
  background-color: #a765b8;
  color: #ffffff;
  font-family: "Vollkorn", serif;
}

section {
  color: #6b1081;
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: clamp(2rem, 10vw, 3rem);
}

h2 {
  background-color: #d89fe6;
  color: #6b1081;
  font-family: "Exo 2", sans-serif;
  border: 3px solid #6b1081;
}

body {
  background-color: #f4f8e6;
}

body a:link {
  color: #6b1081;
}

ul {
  list-style-type: square;
}

ul.liste {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

ul.list-icon {
  list-style: none;
  padding-inline-start: 1rem;
}

li.tel:before {
  content: "📲";
}

li.mail:before {
  content: "📧";
}
